*:target {
    color: var(--bs-primary);
    font-weight: bold;
}

a {
    text-decoration: none;
}

th.table-dark a {
    color: inherit;
}

th.table-dark.asc, th.table-dark.desc {
    color: var(--bs-cyan);
}


th.table-dark.asc a::after {
    content: " ↗";
}

th.table-dark.desc a::after {
    content: " ↘";
}

